---
import Hero from "../components/Hero.astro"
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<Hero>
		Immobilienanalyst mit der Kraft von KI
	</Hero>
	<div class="test"></div>
</Layout>

<style>
	.test {
		height: 500vh;
	}
</style>