---
import Advantage from "./Advantage.astro";
import Headline from "./generic/Headline.astro";
import Stack from "./generic/Stack.astro";
import Blob from "../assets/blob.svg?raw";
import { Fragment } from "astro/jsx-runtime";
---

<div id="advantages">
  <Stack>
    <Headline centered level={2}>Advantages at a glance</Headline>
    <div class="advantage-list">
      <Advantage img="partnership" />
      <Advantage img="partnership" />
      <Fragment set:html={Blob} />
      <Fragment set:html={Blob} />
      <Fragment set:html={Blob} />
    </div>
  </Stack>
</div>

<style>
  .advantage-list {
    display: flex;
    gap: var(--space-m);
    position: relative;

    svg:nth-of-type(1) {
      position: absolute;
      z-index: -1;
      max-height: 100%;
      top: -50%;
      left: -14%;
      transform: translateY(50%);
    }

    svg:nth-of-type(2) {
      position: absolute;
      z-index: -1;
      max-height: 100%;
      top: -50%;
      left: 50%;
      transform: translate(-50%, 50%);
    }

    svg:nth-of-type(3) {
      position: absolute;
      z-index: -1;
      max-height: 100%;
      top: -50%;
      right: -14%;
      transform: translateY(50%);
    }
  }
</style>
