---
import { Image } from "astro:assets";
import Headline from "./generic/Headline.astro";
import Text from "./generic/Text.astro";
import Stack from "./generic/Stack.astro";

type Props = {
  image: ImageMetadata;
  children: any;
  headline: string;
};

const { image, headline } = Astro.props;
---

<div class="advantage">
  <Stack small>
    <Image alt="Business People high fiving" src={image} />
    <Headline level={4}>{headline}</Headline>
    <Text size={2}>
      <slot />
    </Text>
  </Stack>
</div>

<style>
  .advantage {
    width: 50%;
    img {
      width: 100%;
      height: auto;
      aspect-ratio: 1 / 1;
      object-fit: cover;
      border-radius: 10px;
    }
  }
</style>
