---
import Card from "./generic/Card.astro";
import Text from "./generic/Text.astro";
import Headline from "./generic/Headline.astro";
import Stack from "./generic/Stack.astro";
import { getLanguage } from "../i18n/getLanguage";
import { useTranslations } from "../i18n/translate";

const lang = getLanguage(Astro.url);
const t = useTranslations(lang);
---

<div id="features">
  <Stack>
    <Headline centered level={2}>{t("feat.headline")}</Headline>

    <div class="card-grid">
      <Card icon="brush" headline={t("feat.head_one")}>
        <Text onDarkBackground size={2}>{t("feat.body_one")}</Text>
      </Card>
      <Card icon="building" headline={t("feat.head_two")}>
        <Text onDarkBackground size={2}>
          {t("feat.body_two")}
        </Text>
      </Card>
      <Card icon="document" headline={t("feat.head_three")}>
        <Text onDarkBackground size={2}>
          {t("feat.body_three")}
        </Text>
      </Card>
      <Card icon="zap" headline={t("feat.head_four")}>
        <Text onDarkBackground size={2}>
          {t("feat.body_four")}
        </Text>
      </Card>
    </div>
  </Stack>
</div>

<style>
  #features {
    padding-block-start: var(--space-m);
    max-width: 1120px;
    margin: 0 auto;
  }

  .card-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--space-m);
    place-items: center;
    grid-auto-rows: 1fr;
    padding-inline: 0.5rem;

    @media (min-width: 768px) {
      grid-template-columns: 1fr 1fr;
    }
  }
</style>
