---
import { Image } from "astro:assets";
import Headline from "./generic/Headline.astro";
import Stack from "./generic/Stack.astro";
import WithSidebar from "./generic/WithSidebar.astro";
import softwareImage from "../assets/software-screenshot-1.png";
import Text from "./generic/Text.astro";
import { getLanguage } from "../i18n/getLanguage";
import { useTranslations } from "../i18n/translate";

type Props = {
  flipped?: boolean;
};

const lang = getLanguage(Astro.url);
const t = useTranslations(lang);
---

<div id="software">
  <Stack>
    <Headline centered level={2}>{t("software.headline")}</Headline>
    <WithSidebar>
      <div class="img-container">
        <Image alt="the software" src={softwareImage} />
      </div>
      <Stack>
        <Headline level={3}>{t("software.reno")}</Headline>
        <Text size={2}>
          {t("software.reno_text")}
        </Text>
      </Stack>
    </WithSidebar>
    <WithSidebar flipped>
      <div class="img-container flipped">
        <Image alt="the software 2" src={softwareImage} />
      </div>
      <Stack>
        <div class="spacer"></div>
        <Headline level={3}>{t("software.capex")}</Headline>
        <Text size={2}>
          {t("software.capex_text")}
        </Text>
      </Stack>
    </WithSidebar>
  </Stack>
</div>

<style>
  .spacer {
    margin-top: var(--space-2xl);
  }
  .img-container {
    perspective: 2000px;
    max-width: fit-content;
    transform-style: preserve-3d;
    --flip-modifier: 1;
    &.flipped {
      --flip-modifier: -1;

      img {
        animation-delay: -3s;
      }
    }
  }
  img {
    width: 500px;
    height: 300px;
    object-fit: contain;
    transform: rotateX(7deg) rotateY(calc(25deg * var(--flip-modifier)))
      rotateZ(calc(-7deg * var(--flip-modifier)));
    filter: drop-shadow(5px 70px 46px #d9d9d9);
    animation: MoveUpDown 10s ease-in-out infinite;
  }
  @keyframes MoveUpDown {
    0%,
    100% {
      translate: 0 0;
    }
    50% {
      translate: 0 10px;
    }
  }
</style>
