---
import Nav from "../components/Nav.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="/global.css" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body>
    <slot />
    <div class="nnnoise"></div>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    min-height: 100vh;
    width: 100%;
    height: 100%;
    background-color: var(--background);
  }

  .nnnoise {
    width: 100vw;
    height: 100vh;
    background-image: url("/noise.svg");
    z-index: 999999;
    position: fixed;
    pointer-events: none;
    background-repeat: repeat;
    top: 0;
    left: 0;
  }
</style>
